* {
    margin: 0;
    padding: 0;
    font-family: "Gabarito", sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    padding: 6px 14px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    gap: 10px;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar__s1__title {
    color: #8A2BE2;
}

.navbar__s2 {
    padding: 11px;
    border: black solid 1px;
    border-radius: 30px;
    display: flex;
    width: 50%;
    margin: 5px;
    gap: 10px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 15px;
    background: transparent;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 15px;
    
}

.navbar__s3 i,
.navbar__s3 p:hover {
    cursor: pointer;
    color: #8A2BE2;
}

/* My Learning */
.mylearning {
    position: relative;
}

.mylearning__popup {
    position: absolute;
    background-color: white;
    width: 70px;
    border-radius: 10px;
    border: black solid 1px;
    left: 7px;
    top: 30px;
    padding: 7px;
    display: none;
}

.mylearning:hover .mylearning__popup {
    display: block;
}

/* Contents */
.contents {
    border-bottom: black solid 1px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.contents p {
    background-color: #8A2BE2;
    padding: 10px;
    border-radius: 40px;
    margin: 10px;
    width: 100px;
    color: white;
    text-align: center;
    transition: all 0.3s ease;
    cursor: default;
}

.contents p:hover {
    background-color: #e4c3fb;
    color: black;
    cursor: pointer;
}

/* Front Image */
.front-image {
    position: relative;
}

.front-image img {
    width: 100%;
}

.sale__image {
    background-color: white;
    border: black solid 1px;
    width: 500px;
    padding: 10px;
    top: 45%;
    left: 40px;
    position: absolute;
}

/* Recommended */
.recommended {
    padding: 10px;
    padding-top: 40px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    padding-top: 15px;
    width: 100%;
}

/* Course Cards */
.course-card {
    width: 300px;
}

.course-card img {
    width: 100%;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border-radius: 10px;
}

.course-card img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Courses */
.courses {
    padding: 10px;
    padding-top: 25px;
}

.courses__container {
    padding: 10px;
    padding-top: 15px;
}

.courses__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.courses__list p {
    background-color: #8A2BE2;
    color: white;
    padding: 13px;
    flex-basis: 23%;
    flex-grow: 1;
    text-align: center;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.courses__list p:hover {
    background-color: #e4c3fb;
    color: black;
    cursor: pointer;
}

/* Popular */
.popular {
    padding: 10px;
    padding-top: 25px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding-top: 15px;
}

/* Footer */
.footer {
    padding: 30px;
    background-color: #2A2B3F;
    color: white;
    width: 100%;
}

.footer__one {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer__one__s1 p,
.footer__one__s2 p {
    padding: 10px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}
